/**
* Bloco de navbar -----------------------------------------------
*/

#item-navbar-white:hover{
    border-bottom:2px solid #FAFAFA;
    /*border-bottom: 2px solid rgb(255,255,255,0.4);*/
    color: #FAFAFA;
    max-width: 250px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}



#item-navbar-dark:hover{
    /* border-bottom:2px solid #585858; */
    border-bottom:2px solid rgba(228, 222, 222, 0.3);
    max-width: 250px;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

#item-navbar-default-light:hover{
    max-width: 250px;
    background-color: rgb(255,255,255,0.2);
    border:1px solid rgb(255,255,255,0.3);
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;

}

#item-navbar-default-dark:hover{
    max-width: 250px;
    background-color: rgb(0,0,0,0.05);
    border:1px solid rgb(0,0,0,0.1);
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;
}

#navbar{
    position: absolute;
    z-index: 1050;
    width:100%;
    margin: 0 auto;

}
/*
#navbar #item-navbar-default-dark, #navbar #item-navbar-default-light,
#navbar #item-navbar-dark, #navbar #item-navbar-white{
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: arial;

}
*/
#navbar #item-navbar-default-light, #navbar #item-navbar-white{
    text-shadow: 1px 2px 2px #1C1C1C;
}

#navbar #item-navbar-default-dark, #navbar #item-navbar-dark{
    text-shadow: 2px 1px 4px #6E6E6E;
}

#navbar-btn.btn-integrated-light{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #FFFFFF;
}

#navbar-btn.btn-integrated-light:hover{
    background-color: rgba(0,0,0,0.5);
}

#navbar-btn.btn-integrated-dark{
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #6E6E6E;
}

#navbar-btn.btn-integrated-dark:hover{
    background-color: rgba(255,255,255,0.5);
}
/*
* theme navbar white
*/

.navbar-light-color:link{
    color: #1f1e1e;
}

.navbar-white-color:hover{

    background-color: rgb(248, 249, 250);
    border:1px solid #d1d2d3;
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;
}

.navbar-white-color:visited{
    color: #FFFFFF;
}

.navbar-white-color:active{
    color: #FFFFFF;
}

/*
* theme navbar light
*/

.navbar-light-color:hover{
    background-color: rgb(129, 131, 134);
    border:1px solid #726d6d;
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;
}

.navbar-light-color:visited{
    color: #FFFFFF;
}

.navbar-light-color:active{
    color: #FFFFFF;
}

/*
* theme navbar dark
*/

.navbar-dark-color:link{
    color: #aaa8a8;
}

.navbar-dark-color:hover{
    color: #c0c0c0;
    background-color: rgb(76, 77, 78);
    border:1px solid #6d6b6b;
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;
}

.navbar-dark-color:visited{
    color: #FFFFFF;
}

.navbar-dark-color:active{
    color: #FFFFFF;
}

/*
* theme navbar nave
*/
.navbar-nave-color:link{
    color: #cccccc;
}

.navbar-nave-color:hover{
    color: #c0c0c0;
    background-color: rgb(110, 109, 114);
    border:1px solid #969393;
    border-radius: 0.2em;
    margin-bottom: -1px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left:-1px;
    padding-left: 8px;
}

.navbar-nave-color:visited{
    color: #FFFFFF;
}

.navbar-nave-color:active{
    color: #FFFFFF;
}





/**
* fim de bloco de navbar -----------------------------------------------
*/
